.orders-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.order {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  background-color: #fff;
  height: 200px;
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  width: 150px;
}
