.orders-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.order {
  /* color: red; */
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px solid black;
  /* display: inline-block; */
  margin: 10px;
  background-color: #fff;
  height: 200px;
  /* text-align: center; */
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  width: 150px;
}
